<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%# notice %>

<form action="">
  <label for="">Email</label>
  <input type="email" class="textinp" />
  <label for="">Password</label>
  <input type="password" class="textinp" />
  <input type="submit" class="submit-button" value="Login" />
  <p>No account? <a href="/account/register">Sign-up</a></p>
</form>
