<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%# message %>

<form action="">
    <label for="">Email</label>
    <input type="email">
    <label for="">Password</label>
    <input type="password">
    <input type="submit">
    <p>No account? <a href="/account/register">Sign-up</a></p>
</form>