<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<form action="/account/register" method="post">
  <label for="account_firstname">First Name</label>
  <input
    name="account_firstname"
    type="text"
    id="account_firstname"
    class="textinp"
  />
  <label for="account_lastname">Last Name</label>
  <input
    name="account_lastname"
    type="text"
    id="account_lastname"
    class="textinp"
  />
  <label for="account_email">Email</label>
  <input name="account_email" type="email" id="account_email" class="textinp" />
  <label for="account_password">Password</label>
  <input
    name="account_password"
    type="password"
    id="account_password"
    class="textinp"
  />
  <input type="submit" class="submit-button" value="Register" />
</form>
