<h1 id="welcome-message">Welcome to CSE Motors!</h1>

<section id="hero">
    <img src="/images/vehicles/delorean.jpg" alt="An image of a delorian">
    <div id="hero-overlay">
        <h2>DMC Delorean</h2>
        <p>3 Cup Holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice</p>
        <a href="/">
            <img src="/images/site/own_today.png" alt="Own today">
        </a>
    </div>
</section>

<section id="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it! (5/5)</li>
    </ul>
</section>

<section id="upgrades">
    <h2>Delorean Upgrades</h2>
    <div>
        <img src="/images/upgrades/flux-cap.png" alt="The flux capacitor">
        <a href="/">Flux Capacitor</a>
    </div>
    <div>
        <img src="/images/upgrades/flame.jpg" alt="Cartoon flame">
        <a href="/">Flame Decals</a>
    </div>
    <div>
        <img src="/images/upgrades/bumper_sticker.jpg" alt="A bumper sticker">
        <a href="/">Bumper Stickers</a>
    </div>
    <div>
        <img src="/images/upgrades/hub-cap.jpg" alt="A hub-cap">
        <a href="/">Hub Caps</a>
    </div>
</section>