<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<p class="message"><%= message %></p>
<% const jokes = ["What do you call a Ford Fiesta that ran out of gas? A Ford Siesta!",
"What do you call a Mexican who lost his car? Carlos!",
"What happens to a frog's car when it breaks down?  It gets toad!",
"What kind of car does Gordon Ramsey drive? A chef-rolet!",
"Why does a chicken coop only have two doors?  Because if it had four doors, it'd be a chicken sedan!",
"What do you call a used car salesman?  A car-deal-ologist!",
"My daughter said I could never make a car out of spaghetti.  You should have seen the look on her face when I drove pasta!",
"I ran my Subi into the lake.  Now it's a Scubaru!",
"Why did the motorcycle fall over?  It was too tired!",
"Why did the hobo sleep under the car?  So that he could wake up nice and oily in the morning!",
"When is a car not a car?  When it turns into a driveway!",
"What is a Jedi's favorite car?  A Toyoda!",
"What is Ronald McDonald's favorite car?  A McLaren!"];

const selectedJoke = jokes[Math.floor(Math.random() * jokes.length)];
%>
<img id="error-gif" src="/images/errors/drive-into-lake.gif" alt="Michael Scott driving into a lake" />
<p class="joke-line">...but at least here's a joke to make you feel better!</p>
<p class="joke-line" id="actual-joke"><b><%= selectedJoke %></b></p>